fastapi==0.110.0
uvicorn==0.29.0
requests==2.31.0
pydantic==2.7.4
httpx==0.28.1
python-dotenv==1.0.1
argparse
langchain_core
agent
dotenv
langgraph
google
langchain_google_genai
__future__
dataclasses
typing_extensions
operator
